src/*.egg-info/
src/*episode.json
src/episodes/
src/dist/

.DS_Store

records/
replay.html
profile.prof

models_weights/

config.py

*.gif
checkpoints/
__pycache__/
episodes/
test/
report.log
wandb/
test/

test.ipynb
out.html
episode_0.html